
span {
  padding: 15px;
}
    
.container-svg-header {
  padding: 15px;
}

.container-svg-header svg {
  transition: transform 0.3s ease; /* Transición para la rotación */
  cursor: pointer;
}

.container-svg-header.open svg {
  transform: rotate(90deg); /* Rotación cuando el menú está abierto */
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease;
  z-index: 999;
  overflow-x: hidden;
  justify-content: space-between;  
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2);
}

.menu.open {
  width: 25%;
}

@media screen and (max-width: 490px) {
  .menu.open {
    width: 100%;
  }
}